.formulario{
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    margin-top: 50px;
}

.formulario .mat-form-field {
    width: 100%;
}


.loading {
    position:relative;
    left: 50%;
    top:50%;
    margin-left: -4em;
    z-index: 999999999;
}

.isLoading {
    opacity: 0.5;
    pointer-events: none;
}
