<div class="formulario">
    <div class="header">
        <h2>Olá, seja bem vindo!</h2>
        <p>Vamos te ajudar a encontrar um plano de saúde que melhor atenda você, fazendo algumas perguntas. É rapidinho. ;)</p>
    </div>
    <div class="body">
        <div>
            <form method="post" (ngSubmit)="criar()" [formGroup]="formulario">
                <mat-form-field appearance="standard">
                    <mat-label>Nome</mat-label>
                    <input matInput [formControl]="nome" required>
                    <mat-error *ngIf="nome.invalid">{{getErrorMessageNome()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                    <mat-hint>Vamos utilizar essa informação de e-mail para que receba a sua cotação.</mat-hint>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Digite seu estado</mat-label>
                    <input type="text"
                           placeholder="Digite seu estado"
                           matInput
                           [formControl]="estado"
                           [matAutocomplete]="auto">
                    <mat-autocomplete (optionSelected)="selectedEstado($event)"  [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filtrosUfs | async" [value]="option">
                            {{option.nome}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="estado.invalid">{{getErrorMessageEstado()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Digite sua cidade</mat-label>
                    <input type="text"
                           placeholder="Digite sua cidade"
                           matInput
                           [formControl]="cidade"
                           [matAutocomplete]="autoCidade">
                    <mat-autocomplete (optionSelected)="selectedCidade($event)"  [displayWith]="displayFnCidade"  #autoCidade="matAutocomplete">
                        <mat-option *ngFor="let opcao of filtroCidades | async" [value]="opcao">
                            {{opcao.nome}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="cidade.invalid">{{getErrorMessageCidade()}}</mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>
