<div class="formulario">
    <div class="header">
        <h2>Olá, seja bem vindo!</h2>
        <p>Vamos te ajudar a encontrar um plano de saúde que melhor atenda você, fazendo algumas perguntas. É rapidinho. ;)</p>
    </div>
    <div class="body">
        <div>
            <form method="post" (ngSubmit)="criar()" [formGroup]="formulario">
                <mat-form-field appearance="standard">
                    <mat-label>Nome</mat-label>
                    <input matInput [formControl]="nome" required>
                    <mat-error *ngIf="nome.invalid">{{getErrorMessageNome()}}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                    <mat-hint>Vamos utilizar essa informação de e-mail para que receba a sua cotação.</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Data de Nascimento</mat-label>
                    <input [formControl]="datanascimento" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="estado.invalid">{{getErrorMessageDate()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Digite seu estado</mat-label>
                    <input type="text"
                           placeholder="Digite seu estado"
                           matInput
                           (blur)="resetaCampos()"
                           [formControl]="estado"
                           [matAutocomplete]="auto">
                    <mat-autocomplete (optionSelected)="selectedEstado($event)"  [displayWith]="displayFn" autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filtrosUfs | async" [value]="option">
                            {{option.nome}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="estado.invalid">{{getErrorMessageEstado()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Digite sua cidade</mat-label>
                    <input type="text"
                           placeholder="Digite sua cidade"
                           matInput
                           (blur)="resetaCampos()"
                           [formControl]="cidade"
                           [matAutocomplete]="autoCidade">
                    <mat-autocomplete (optionSelected)="selectedCidade($event)"  [displayWith]="displayFnCidade"  #autoCidade="matAutocomplete">
                        <mat-option *ngFor="let opcao of filtroCidades | async" [value]="opcao">
                            {{opcao.nome}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="cidade.invalid">{{getErrorMessageCidade()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Digite sua profissão</mat-label>
                    <input type="text"
                           placeholder="Digite sua profissao"
                           matInput
                           (blur)="resetaCampos()"
                           [formControl]="profissao"
                           [matAutocomplete]="autoProfissao">
                    <mat-autocomplete (optionSelected)="selectedProfissao($event)"  [displayWith]="displayFnProfissao"  #autoProfissao="matAutocomplete">
                        <mat-option *ngFor="let opcao of filtroProfissoes | async" [value]="opcao">
                            {{opcao.profissao}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="profissao.invalid">{{getErrorMessageProfissao()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Digite sua entidade</mat-label>
                    <input type="text"
                           placeholder="Digite sua entidade"
                           matInput
                           [formControl]="entidade"
                           [matAutocomplete]="autoEntidade">
                    <mat-autocomplete (optionSelected)="selectedEntidade($event)"  [displayWith]="displayFnEntidade"  #autoEntidade="matAutocomplete">
                        <mat-option *ngFor="let opcao of filtroEntidades | async" [value]="opcao">
                            {{opcao.NomeFantasia}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="entidade.invalid">{{getErrorMessageEntidade()}}</mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>
