<div class="header">
    <h2>Veja seus planos</h2>
    <p>Simulação realizada em {{dataSimulacao | date:'dd/MM/yyyy'}} </p>
    <br>
    <button [routerLink]="['']" style="width: 100%; background-color: #005883; color: #ffffff" class="btn">Simular novamente</button>
</div>

<div class="body">
    <div class="row">
        <div *ngFor="let item of data.planos" align="center" style="margin-top: 3%" class="col-12 col-sm-12 col-md-6 col-lg-4">
            <mat-card class="plano-card">
                <mat-card-header align="center">
                    <mat-card-title>{{item.plano}}</mat-card-title>
                    <mat-card-subtitle>{{item.operadora}}</mat-card-subtitle>
                </mat-card-header>
                <img class="img-card" mat-card-image src="{{item.operadoraLogo}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="valores">{{item.precos.total | currency: 'R$'}}</p>
                    <p class="segmentacao">{{item.segmentacao}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button  style="width: 100%; margin-bottom: 3%; color: #ffffff" class="btn btn-warning">Comprar Agora</button>
                    <button  style="width: 100%; color: #ffffff" class="btn btn-warning">Quero receber uma proposta</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
